 /* GENERAL PAGE STYLES */
 html, body {
 	height: 100%;
 }

p {
	font-size: 24px;
	line-height: 30px;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 48px;
	text-decoration: underline;
}

h6 {
	margin-top: -5px;
}

.sans-narrow {
	font-family: 'PT Sans Narrow', sans-serif;
}

.new-section {
	margin-top: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}


/* PAGE HEADER */
.parallax-container {
	position: relative;
  width: 100%;
  height: 100%;
}

#intro-logo {	
	position: relative;
	width: 100%;
	height: auto;
}

#arrow {
	color: black;
	font-size: 48px;
	margin-top: 8%;
}

#arrow-icon {
	margin-top: 10%;
}


/* NAVIGATION */
#main-nav {
	height: 65px;
	margin-bottom: -65px;
	z-index: 100;
}

nav ul a.active {
  background: rgba(0,0,0,0.1);
}

.brand-logo {
	font-family: 'Bangers', cursive;
}


/* SKILLS SECTION */
#skills {
	background-image: url(../img/shattered-island.png);
	background-attachment: fixed;
}

#skills-title {
	color: white;
}

.skills-img {
	width: 80%;
	height: auto;
	margin-bottom: 50px;
}


/* PROJECT SECTION */
.project-card {
	width: 95%;
	height: auto;
	margin: auto;
	margin-bottom: 3%;
}

.card-content {
	border-top-style: solid;
	border-top-color: #f44336;
	border-top-width: 5px;
}

.card-div {
	margin-top: 5%;
}


/* CONTACT SECTION */
#contact {
	background-image: url(../img/contact-bg.png);
	background-repeat:no-repeat;
	background-size:100%;
	padding-bottom: 2.5%;
	margin-bottom: -2%;
}

#footer-style {
	margin-top: -1%;
}


/* CONTACT FORM */
.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
