 html, body {
 	height: 100%;
 }

p {
/*	font-family: 'PT Sans Narrow', sans-serif;*/
	font-size: 24px;
	line-height: 30px;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 6vh;
	text-decoration: underline;
}

h6 {
	margin-top: -5px;
}

.sans-narrow {
	font-family: 'PT Sans Narrow', sans-serif;
}

.parallax-container {
	position: relative;
  width: 100%;
  height: 100%;
}

#intro-logo {	
	position: relative;
	width: 100%;
	height: auto;
}

#profile-img {
	width: 100%;
	height: auto;
}

#arrow {
	color: black;
	font-size: 48px;
	margin-top: 8%;
}

#arrow-icon {
	margin-top: 10%;
}

#main-nav {
	height: 65px;
	margin-bottom: -65px;
	z-index: 100;
}

.brand-logo {
	font-family: 'Bangers', cursive;
}

#about {
	
}

.intro-list {
	font-size: 18px;
	font-weight: bold;
	border-bottom: solid;
	margin-top: 5%;
	margin-bottom: 5%;
}

#skills {
	background-image: url(../img/shattered-island.png);
	background-attachment: fixed;
}

#skills-title {
	color: white;
}

.skills-img {
	width: 80%;
	height: auto;
	margin-bottom: 50px;
}

.skill-percent {
	font-size: 3vh;
	color: white;
}

#contact {
	background-image: url(../img/contact-bg.png);
	background-repeat:no-repeat;
	background-size:100%;
	padding-bottom: 2.5%;
	margin-bottom: -2%;
}

#footer-style {
	margin-top: -1%;
}

.new-section {
	margin-top: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.project-card {
	width: 95%;
	height: auto;
	margin: auto;
	margin-bottom: 3%;
}

.card-content {
	border-top-style: solid;
	border-top-color: #f44336;
	border-top-width: 5px;
}

.card-div {
	margin-top: 5%;
}

       